credentials.properties
credentials.py

*.properties

*.vsidx
*.csv
*.txt
*.json
**/Output/
*.wsuo
*.json
*.pyc
*.sqlite
*.pem
*.so
*.exe
*.html
*.hcl
*.yml
*.rst
*.zip
*.index
**/aws/
**/.terraform/
*.sqlite
*.tfstate
*.TMP
*.backup
*.bin
